:root {
  --color-border: #d9d9d9;

  --color-text-dark: #121416;
  --color-text-light: #6c757d;

  --color-green-dark: #456f49;
  --color-green-light: #e7f1e8;
}

body {
  padding: 0;
  margin: 0;

  min-height: 100vh;

  background: var(--color-background);

  color: var(--color-text-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin: 60px auto;
}

@media (max-width: 1280px) {
  .container {
    padding: 20px;
    margin: 10px auto;
  }
}

.title-1 {
  font-size: 48px;
  font-weight: 900;
}

.title-2 {
  font-size: 30px;
  font-weight: 700;
}

.title-3 {
  font-weight: 500;
}

@media (max-width: 900px) {
  .title-1 {
    font-size: 30px;
  }
  .title-2 {
    font-size: 20px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-green-dark);
  border-radius: 5px;
  padding: 0 15px;
  width: 250px;
  height: 50px;

  color: white;
  font-size: 18px;
  cursor: pointer;
}

.btn.second {
  color: var(--color-green-dark);
  background-color: white;
  border: 1px solid var(--color-green-dark);
}

.line-h {
  width: auto;
  height: 2px;
  background-color: var(--color-border);
}

.line-v {
  width: 2px;
  height: auto;
  background-color: var(--color-border);
}

/* Описание стилей для Popup */
.popup-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  max-width: 650px;
  width: 90%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.popup .title-2 {
  text-align: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

.popup-btn-action {
  display: flex;
  gap: 15px;
  width: 100%;
}
.popup-btn-action .btn {
  width: 100%;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 400px) {
  /* .popup-btn-action {
    flex-direction: column;
  } */
  .popup-btn-action {
    flex-direction: column;
  }
  .popup-btn-action .btn {
    width: auto;
  }
}
